<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<!-- Start Left menu area -->
<div th:fragment="left_menu">
    <div class="left-sidebar-pro">
        <nav th:id="sidebar" class="">
            <div class="sidebar-header">
                <a href="index.html"><img class="main-logo" src="img/logo/logo.png" alt=""/></a>
                <strong><a href="index.html"><img src="img/logo/logosn.png" alt=""/></a></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" th:id="menu1">
                        <li class="active">
                            <a href="index.html">
                                <span class="educate-icon educate-home icon-wrap"></span>
                                <span class="mini-click-non">Quản trị viên</span>
                            </a>
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><span
                                    class="educate-icon educate-form icon-wrap"></span> <span
                                    class="mini-click-non">Quản lý</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li>
                                    <a href="hocki.html" aria-expanded="false"><span></span> <span>Học
                                            kì</span></a>
                                </li>
                                <li>
                                    <a href="/" aria-expanded="false"><span></span> <span>Sinh
                                            viên</span></a>
                                </li>
                                <li>
                                    <a href="chuyenganh.html" aria-expanded="false"><span></span> <span>Chuyên
                                            ngành</span></a>
                                </li>
                                <li>
                                    <a href="khoa.html" aria-expanded="false"><span></span> <span>Khoa</span></a>
                                </li>
                                <li>
                                    <a href="hocphan.html" aria-expanded="false"><span></span> <span>Học
                                            phần</span></a>
                                </li>
                                <li>
                                    <a href="lophoc.html" aria-expanded="false"><span></span> <span>Lớp
                                            học</span></a>
                                </li>
                                <li>
                                    <a href="monhoc.html" aria-expanded="false"><span></span> <span>Môn
                                            học</span></a>
                                </li>
                                <li>
                                    <a href="lophocphan.html" aria-expanded="false"><span></span> <span>Lớp học
                                            phần</span></a>
                                </li>
                                <li>
                                    <a href="giangvien.html" aria-expanded="false"><span></span> <span>Giảng
                                            viên</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
</div>
<!-- End Left menu area -->

</body>
</html>