<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<!-- Start Left menu area -->
<div th:fragment="left_menu">
    <div class="left-sidebar-pro">
        <nav th:id="sidebar" class="">
            <div class="sidebar-header" style="margin: 8px 0 10px 0;">
                <a th:href="@{/}">
                    <img class="main-logo" src="https://demobucket0411.s3.ap-southeast-1.amazonaws.com/logo1.png" alt=""/>
                </a>
                <strong><a th:href="@{/}"><img src="https://media.iuh.edu.vn/Media/2_sviuh/Images/icon65d669c1-0-e.ico" alt=""/></a></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" th:id="menu1">
                        <li class="active">
                            <a th:href="@{/}">
                                <span class="educate-icon educate-home icon-wrap"></span>
                                <span class="mini-click-non">Quản trị viên</span>
                            </a>
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><span
                                    class="educate-icon educate-form icon-wrap"></span> <span
                                    class="mini-click-non">Quản lý</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li>
                                    <a th:href="@{/hocKy}" aria-expanded="false">
                                        <span></span>
                                        <span>Học kỳ</span>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/sinhVien}" aria-expanded="false">
                                        <span></span>
                                        <span>Sinh viên</span>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/chuyenNganh}" aria-expanded="false">
                                        <span></span>
                                        <span>Chuyên ngành</span>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/khoa}" aria-expanded="false"><span></span> <span>Khoa</span></a>
                                </li>
                                <li>
                                    <a th:href="@{/hocphan}" aria-expanded="false"><span></span> <span>Học
                                            phần</span></a>
                                </li>
                                <li>
                                    <a th:href="@{/lophoc}" aria-expanded="false"><span></span> <span>Lớp
                                            học</span></a>
                                </li>
                                <li>
                                    <a th:href="@{/monhoc}" aria-expanded="false"><span></span> <span>Môn
                                            học</span></a>
                                </li>
                                <li>
                                    <a th:href="@{/lophocphan}" aria-expanded="false"><span></span> <span>Lớp học
                                            phần</span></a>
                                </li>
                                <li>
                                    <a th:href="@{/giangvien}" aria-expanded="false"><span></span> <span>Giảng
                                            viên</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
</div>
<!-- End Left menu area -->

</body>
</html>