<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/header :: h"/>
<head>
    <title>Admin | Chi Tiết Lớp Học Phần</title>
</head>
<body onload="showToast()">

<!-- Start Left menu area -->
<div th:replace="/common/leftmenu :: left_menu"></div>
<!-- End Left menu area -->

<div class="all-content-wrapper">
    <div class="header-advance-area">

        <!-- Start Welcome area -->
        <div th:replace="/common/header :: header"></div>
        <!-- End Welcome area -->

        <!-- Start Toast area -->
        <div id="toast">

        </div>
        <li id="mes" hidden th:text="${mess}"></li>
        <li id="suc_err" hidden th:text="${suc_err}"></li>
        <!-- End Toast area -->

        <!-- Start Search-->
        <br>
        <div class="breadcome-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcome-list">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="breadcome-heading" style="float: right">
                                        Quản trị viên / Chi tiết lớp học phần / <td th:text="${lhp.getMaLHP()} + '-' + ${lhp.getTenLHP()}"></td>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Search-->

        <!-- Static Table Start -->
        <div class="product-status mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <form th:action="@{/lophocphan/delCTLHPs}" method="get">
                            <div class="product-status-wrap drp-lst">
                                <div class="sparkline13-hd">
                                    <div class="main-sparkline13-hd">
                                        <h1></h1>
                                        <a class="btn btn-warning" th:href="@{/lophocphan}"><i
                                                class="fa fa-chevron-left"></i> Trở về lớp học phần</a>
                                        <a class="btn btn-info createBtnCTLHP">Thêm chi tiết lớp học phần</a>
                                        <button type="submit" class="btn btn-danger btn-custon-rounded-four">
                                            <input type="hidden" th:name="idLHP" th:value="${idLopHocPhan}">
                                            <span>Xóa</span>
                                        </button>
                                    </div>
                                </div>

                                <div class="sparkline13-graph">
                                    <div class="datatable-dashv1-list custom-datatable-overright">
                                        <table id="table" data-toggle="table"
                                               data-key-events="true" data-resizable="true" data-cookie="true"
                                               data-cookie-id-table="saveId" data-show-export="true"
                                               data-click-to-select="true" data-toolbar="#toolbar" class="tbl">
                                            <thead>
                                            <tr>
                                                <th>
                                                    <div align="center">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                </th>
                                                <th>STT</th>
                                                <th>Mã chi tiết lớp học phần</th>
                                                <th>Tiết học</th>
                                                <th>Nhóm</th>
                                                <th>Cơ sở</th>
                                                <th>Dãy nhà</th>
                                                <th>Phòng</th>
                                                <th>Ngày bắt đầu</th>
                                                <th>Ngày kết thúc</th>
                                                <th>Giảng viên</th>
                                                <th>Mô tả</th>
                                                <th>Thao tác</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="ctlhp, stt: ${CTLHPs}">
                                                <td><input type="checkbox" class="checkbox" th:name="idCTLHP"
                                                           th:value="${ctlhp.getMaCTLHP()}"></td>
                                                <td th:text="${stt.index + 1}"></td>
                                                <td th:text="${ctlhp.getMaCTLHP()}"></td>
                                                <td th:text="${ctlhp.getTietHoc()}"></td>
                                                <td th:text="${ctlhp.getNhomTH()}"></td>
                                                <td th:text="'Cơ sở '+ ${ctlhp.getCoSo()}"></td>
                                                <td th:text="${ctlhp.getDayNha()}"></td>
                                                <td th:text="${ctlhp.getPhong()}"></td>
                                                <td th:text="${#dates.format(ctlhp.getNgayBatDau(), 'dd/MM/yyyy')}"></td>
                                                <td th:text="${#dates.format(ctlhp.getNgayKetThuc(), 'dd/MM/yyyy')}"></td>

                                                <td th:if="${ctlhp.getGiangVien() != null}"
                                                    th:text="${ctlhp.getGiangVien().getTenGV()}"></td>

                                                <td th:if="${ctlhp.getGiangVien() == null}"></td>

                                                <td th:text="${ctlhp.getMoTa()}"></td>
                                                <td>
                                                    <a class="uBtnCTLHP btn btn-warning"
                                                       th:href="@{findCTLHP(ma_ctlhp=${ctlhp.maCTLHP})}">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="myForm">
            <form th:action="@{/lophocphan/CTLHP(idLHP=${idLopHocPhan})}" method="post"
                  th:object="${chiTietLopHocPhan}">
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: rgb(130, 216, 130);">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <div class="text-center" style="color: white;">
                                    <h3>THÔNG TIN CHI TIẾT LỚP HỌC PHẦN</h3>
                                </div>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" id="myIdCTLHP" value="" th:field="*{maCTLHP}">
                                <input type="hidden" id="idlhp" value="" th:field="*{lopHocPhan.maLHP}">
                                <div class="col-sm-12" style="padding-top: 20px;">
                                    <div class="form-group col-sm-3">
                                        <label>Thứ & Tiết học</label>
                                        <div>
                                            <input type="text" id="tiethoc" value="" th:field="*{tietHoc}"
                                                   class="form-control" placeholder="Ví dụ: Thứ 2 Tiết 1-3">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label>Cơ sở</label>
                                        <div>
                                            <input type="text" id="coso" value="" th:field="*{coSo}"
                                                   class="form-control" placeholder="Ví dụ: Cơ sở 1 (TP.HCM)">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label>Dãy nhà</label>
                                        <div>
                                            <input type="text" id="daynha" value="" th:field="*{dayNha}"
                                                   class="form-control" placeholder="Ví dụ: Dãy nhà A">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label>Phòng</label>
                                        <div>
                                            <input type="text" id="phong" value="" th:field="*{phong}"
                                                   class="form-control" placeholder="Ví dụ: B3.5">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group col-sm-3">
                                        <label>Ngày bắt đầu</label>
                                        <div>
                                            <input type="date" id="ngaybatdau" value="" th:field="*{{ngayBatDau}}"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label>Ngày kết thúc</label>
                                        <div>
                                            <input type="date" id="ngayketthuc" value="" th:field="*{{ngayKetThuc}}"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label>Giảng viên</label>
                                        <div>
                                            <select value="" id="gv" th:field="*{giangVien.maGV}"
                                                    class="form-control">
                                                <option value="0">Chọn giảng viên</option>
                                                <option th:each="gv, stt: ${giangViens}"
                                                        th:value="${gv.getMaGV()}"
                                                        th:text="${gv.getTenGV()}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label>Nhóm thực hành</label>
                                        <div>
                                            <input type="number" min="0" id="nhomthuchanh" value=""
                                                   th:field="*{nhomTH}" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group col-sm-12">
                                        <label>Mô tả</label>
                                        <div>
                                            <input type="text" id="mt" value="" th:field="*{moTa}"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" value="Lưu thông tin" class="btn btn-success"
                                       style="margin-left: 30px;">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="/common/header :: script"></div>

</body>
</html>