<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="h">

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="https://media.iuh.edu.vn/Media/2_sviuh/Images/icon65d669c1-0-e.ico"/>

    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Bootstrap CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <!-- owl.carousel CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/owl.carousel.css}">
    <link th:rel="stylesheet" th:href="@{/css/owl.theme.css}">
    <link th:rel="stylesheet" th:href="@{/css/owl.transitions.css}">
    <!-- animate CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/animate.css}">
    <!-- normalize CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/normalize.css}">
    <!-- meanmenu icon CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/meanmenu.min.css}">
    <!-- main CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/main.css}">
    <!-- educate icon CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/educate-custon-icon.css}">
    <!-- morrisjs CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/morrisjs/morris.css}">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/scrollbar/jquery.mCustomScrollbar.min.css}">
    <!-- metisMenu CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/metisMenu/metisMenu.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/metisMenu/metisMenu-vertical.css}">
    <!-- calendar CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/calendar/fullcalendar.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/calendar/fullcalendar.print.min.css}">
    <!-- x-editor CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/editor/select2.css}">
    <link th:rel="stylesheet" th:href="@{/css/editor/datetimepicker.css}">
    <link th:rel="stylesheet" th:href="@{/css/editor/bootstrap-editable.css}">
    <link th:rel="stylesheet" th:href="@{/css/editor/x-editor-style.css}">
    <!-- normalize CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/data-table/bootstrap-table.css}">
    <link th:rel="stylesheet" th:href="@{/css/data-table/bootstrap-editable.css}">
    <!-- style CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/style.css}">
    <!-- modal CSS
        ============================================ -->
    <link th:rel="stylesheet" th:href="@{/modal.css}">
    <!-- responsive CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/responsive.css}">

    <!-- toast CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/toast_notification.css}">

    <!-- modernizr JS
		============================================ -->
    <script th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/modal-event-2.js}" src="../static/js/modal-event-2.js"></script>
    <script type="text/javascript" th:src="@{/js/modalevent.js}" src="../static/js/modalevent.js"></script>
    <script type="text/javascript" th:src="@{/js/validation.js}" src="../static/js/validation.js"></script>
</head>
<body>

<!-- Start Welcome area -->
<div th:fragment="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="logo-pro">
                    <a th:href="@{/}"><img class="main-logo"
                                           src="https://demobucket0411.s3.ap-southeast-1.amazonaws.com/logo1.png"
                                           alt=""/></a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-advance-area">
        <div class="header-top-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="header-top-wraper">
                            <div class="row">
                                <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                    <div class="menu-switcher-pro">
                                        <button type="button" id="sidebarCollapse"
                                                class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                            <i class="educate-icon educate-nav"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                    <div class="header-top-menu tabl-d-n">
                                        <ul class="nav navbar-nav mai-top-nav">
                                            <li>
                                                <a th:href="@{/giangvien}" class="nav-link nav-item">
                                                    <span>Giảng viên</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a th:href="@{/ketquahoctap}" class="nav-link nav-item">
                                                    <span>Kết quả học tập</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a th:href="@{/hoc-phan-khung}" class="nav-link nav-item">
                                                    <span>Học phần khung</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a th:href="@{/lophoc}" class="nav-link nav-item">
                                                    <span>Lớp học</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                    <div class="header-right-info">
                                        <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                            <li class="nav-item dropdown" style="padding-top: 5px">
                                            </li>
                                            <li class="nav-item" style="padding-top: 5px">
                                                <a href="#" data-toggle="dropdown" role="button"
                                                   aria-expanded="false" class="nav-link dropdown-toggle">
                                                    <span class="admin-name" th:utext="${tensinhvien}"></span>
                                                    <i class="fa fa-angle-down edu-icon edu-down-arrow"></i>
                                                </a>
                                                <ul role="menu"
                                                    class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                    <li><a th:if="${#request.userPrincipal != null}"
                                                           th:href="@{/logout}"><span
                                                            class="edu-icon edu-locked author-log-ic"></span>
                                                        Đăng xuất</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Welcome area -->
</body>

<div th:fragment="script">
    <!-- toast
============================================ -->
    <script th:src="@{/js/toast_notification.js}"></script>
    <!-- jquery
    ============================================ -->
    <script th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>
    <!-- bootstrap JS
    ============================================ -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- wow JS
    ============================================ -->
    <script th:src="@{/js/wow.min.js}"></script>
    <!-- price-slider JS
    ============================================ -->
    <script th:src="@{/js/jquery-price-slider.js}"></script>
    <!-- meanmenu JS
    ============================================ -->
    <script th:src="@{/js/jquery.meanmenu.js}"></script>
    <!-- owl.carousel JS
    ============================================ -->
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <!-- sticky JS
    ============================================ -->
    <script th:src="@{/js/jquery.sticky.js}"></script>
    <!-- scrollUp JS
    ============================================ -->
    <script th:src="@{/js/jquery.scrollUp.min.js}"></script>
    <!-- mCustomScrollbar JS
    ============================================ -->
    <script th:src="@{/js/scrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>
    <script th:src="@{/js/scrollbar/mCustomScrollbar-active.js}"></script>
    <!-- data table JS
    ============================================ -->
    <script th:src="@{/js/data-table/bootstrap-table.js}"></script>
    <script th:src="@{/js/data-table/tableExport.js}"></script>
    <script th:src="@{/js/data-table/data-table-active.js}"></script>
    <script th:src="@{/js/data-table/bootstrap-table-editable.js}"></script>
    <script th:src="@{/js/data-table/bootstrap-editable.js}"></script>
    <script th:src="@{/js/data-table/bootstrap-table-resizable.js}"></script>
    <script th:src="@{/js/data-table/colResizable-1.5.source.js}"></script>
    <script th:src="@{/js/data-table/bootstrap-table-export.js}"></script>
    <!--  editable JS
    ============================================ -->
    <script th:src="@{/js/editable/jquery.mockjax.js}"></script>
    <script th:src="@{/js/editable/mock-active.js}"></script>
    <script th:src="@{/js/editable/select2.js}"></script>
    <script th:src="@{/js/editable/moment.min.js}"></script>
    <script th:src="@{/js/editable/bootstrap-datetimepicker.js}"></script>
    <script th:src="@{/js/editable/bootstrap-editable.js}"></script>
    <script th:src="@{/js/editable/xediable-active.js}"></script>
    <!-- Chart JS
    ============================================ -->
    <script th:src="@{/js/chart/jquery.peity.min.js}"></script>
    <script th:src="@{/js/peity/peity-active.js}"></script>
    <!-- tab JS
    ============================================ -->
    <script th:src="@{/js/tab.js}"></script>
    <!-- plugins JS
    ============================================ -->
    <script th:src="@{/js/plugins.js}"></script>
    <!-- main JS
    ============================================ -->
    <script th:src="@{/js/main.js}"></script>
</div>
</html>