<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/header :: h"/>
<head>
    <title>Admin | Lớp Học Phần</title>
</head>

<body onload="showToast()">

<!-- Start Left menu area -->
<div th:replace="/common/leftmenu :: left_menu"></div>
<!-- End Left menu area -->

<div class="all-content-wrapper">
    <div class="header-advance-area">

        <!-- Start Welcome area -->
        <div th:replace="/common/header :: header"></div>
        <!-- End Welcome area -->

        <!-- Start Toast area -->
        <div id="toast">

        </div>
        <li id="mes" hidden th:text="${mess}"></li>
        <li id="suc_err" hidden th:text="${suc_err}"></li>
        <!-- End Toast area -->

        <!-- Static Table Start -->
        <div class="product-status mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <form th:action="@{/lophocphan/deleteLopHocPhans}" method="get">
                            <div class="product-status-wrap drp-lst">
                                <div class="sparkline13-hd">
                                    <div class="main-sparkline13-hd">
                                        <h1></h1>
                                        <a class="btn btn-info createBtnLHP">Thêm lớp học phần</a>
                                        <a style="margin-top: -3px"
                                           class="btn btn-primary glyphicon glyphicon-import btnImportFile"></a>
                                        <button type="submit" class="btn btn-danger btn-custon-rounded-four">
                                            <span>Xóa</span>
                                        </button>
                                    </div>
                                </div>

                                <div class="sparkline13-graph">
                                    <div class="datatable-dashv1-list custom-datatable-overright">
                                        <table id="table" data-toggle="table"
                                               data-key-events="true" data-resizable="true" data-cookie="true"
                                               data-cookie-id-table="saveId" data-show-export="true"
                                               data-click-to-select="true" data-toolbar="#toolbar" class="tbl">
                                            <thead>
                                            <tr>
                                                <th>
                                                    <div align="center">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                </th>
                                                <th>STT</th>
                                                <th>Mã lớp học phần</th>
                                                <th>Tên viết tắt</th>
                                                <th>Tên lớp học phần</th>
                                                <th>Số lượng đăng ký hiện tại</th>
                                                <th>Số lượng đăng ký tối đa</th>
                                                <th>Trạng thái</th>
                                                <th>Học kì</th>
                                                <th>Học phần</th>
                                                <th>Mô tả</th>
                                                <th>Thao tác</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="lhp, stt: ${lopHocPhans}">
                                                <td><input type="checkbox" class="checkbox" th:name="idLHP"
                                                           th:value="${lhp.getMaLHP()}"></td>
                                                <td th:text="${stt.index + 1}"></td>
                                                <td th:text="${lhp.getMaLHP()}"></td>
                                                <td th:text="${lhp.getTenVietTat()}"></td>
                                                <td th:text="${lhp.getTenLHP()}"></td>
                                                <td th:text="${lhp.getSoLuongDangKyHienTai()}"></td>
                                                <td th:text="${lhp.getSoLuongDangKyToiDa()}"></td>
                                                <td th:text="${lhp.getTrangThai()}"></td>

                                                <td th:if="${lhp.getHocKy() != null}"
                                                    th:text="'Học kỳ ' + ${lhp.getHocKy().getThuTuHocKy()} + ' (' + ${lhp.getHocKy().getNamBatDau()} + ' - ' + ${lhp.getHocKy().getNamKetThuc()} + ')'"></td>
                                                <td th:if="${lhp.getHocPhan() != null}"
                                                    th:text="${lhp.getHocPhan().getMonHoc().getTenMonHoc()} + ' - ' + (${lhp.getHocPhan().getSoTCLT()} + ${lhp.getHocPhan().getSoTCTH()}) + 'TC' "></td>

                                                <td th:if="${lhp.getHocKy() == null}"></td>
                                                <td th:if="${lhp.getHocPhan() == null}"></td>

                                                <td th:text="${lhp.getMoTa()}"></td>
                                                <td>
                                                    <a class="uBtnLHP btn btn-warning"
                                                       th:href="@{lophocphan/findLHP(ma_lhp=${lhp.maLHP})}">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </a>
                                                    <a class="btn btn-warning"
                                                       th:href="@{lophocphan/CTLHP(idLHP=${lhp.maLHP})}">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="pull-right pagination">
                                            <ul class="pagination">
                                                <li class="page-pre">
                                                    <a th:href="@{/lophocphan(pageIndex=${currentPage - 1})}">‹</a>
                                                </li>
                                                <li class="page-number"
                                                    th:each="i : ${#numbers.sequence(0, totalPage - 1)}"
                                                    th:classappend="${currentPage}==${i}?'active':''">
                                                    <a th:href="@{/lophocphan(pageIndex=${i})}" th:text="${i + 1}"></a>
                                                </li>
                                                <li class="page-next">
                                                    <a th:href="@{/lophocphan(pageIndex=${currentPage + 1})}">›</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="myForm">
            <form th:action="@{/lophocphan}" method="post" th:object="${lopHocPhan}">
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: rgb(130, 216, 130);">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <div class="text-center" style="color: white;">
                                    <h3>THÔNG TIN LỚP HỌC PHẦN</h3>
                                </div>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" id="myIdLHP" value="" th:field="*{maLHP}">

                                <div class="col-sm-12" style="padding-top: 20px;">
                                    <div class="form-group col-sm-6">
                                        <label>Tên viết tắt</label>
                                        <div>
                                            <input type="text" id="tenviettat" value="" th:field="*{tenVietTat}"
                                                   class="form-control" placeholder="Ví dụ: DHKTPM14A">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Tên lớp học phần</label>
                                        <div>
                                            <input type="text" id="tenlophocphan" value="" th:field="*{tenLHP}"
                                                   class="form-control" placeholder="Ví dụ: Toán cao cấp 1">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group col-sm-3">
                                        <label>Số lượng đăng ký hiện tại</label>
                                        <div>
                                            <input type="number" min="0" id="soluongdangkyhientai" value=""
                                                   th:field="*{soLuongDangKyHienTai}" disabled
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label>Số lượng đăng ký tối đa</label>
                                        <div>
                                            <input type="number" min="0" id="soluongdangkytoida" value=""
                                                   th:field="*{{soLuongDangKyToiDa}}"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Trạng thái</label>
                                        <div>
<!--                                            <input type="text" id="trangthai" value="" th:field="*{trangThai}"-->
<!--                                                   class="form-control">-->
                                            <select value="" id="trangthai" th:field="*{trangThai}" class="form-control">
                                                <option value="">Chọn trạng thái</option>
                                                <option value="Chờ sinh viên đăng ký">Chờ sinh viên đăng ký</option>
                                                <option value="Đang lên kế hoạch">Đang lên kế hoạch</option>
                                                <option value="Khóa">Khóa</option>
                                                <option value="Chờ hủy lớp">Chờ hủy lớp</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group col-sm-6">
                                        <label>Học kỳ</label>
                                        <div>
                                            <select value="" id="hocky" th:field="*{hocKy.maHK}"
                                                    class="form-control">
                                                <option value="0">Chọn học kỳ</option>
                                                <option th:each="hk, stt: ${hocKys}"
                                                        th:value="${hk.getMaHK()}"
                                                        th:text="'Học kỳ ' + ${hk.getThuTuHocKy()} + ' (' + ${hk.getNamBatDau()} + ' - ' + ${hk.getNamKetThuc()} + ')'"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Học phần tương ứng</label>
                                        <div>
                                            <select id="hocphan" value="" th:field="*{hocPhan.maHocPhan}"
                                                    class="form-control">
                                                <option value="">Chọn học phần tương ứng</option>
                                                <option th:each="hp, stt: ${hocPhans}"
                                                        th:value="${hp.getMaHocPhan()}"
                                                        th:text="${hp.getMonHoc().getTenMonHoc()} + ' - ' + (${hp.getSoTCLT()} + ${hp.getSoTCTH()}) + 'TC' "></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group col-sm-12">
                                        <label>Mô tả</label>
                                        <div>
                                            <input type="text" id="mota" value="" th:field="*{moTa}"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" value="Lưu thông tin" class="btn btn-success"
                                       style="margin-left: 30px;">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- Start Modal Import area -->
        <div class="myForm1">
            <form th:action="@{/lophocphan/upload}" method="post" enctype="multipart/form-data">
                <div class="modal fade" id="myModalImportFile" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: rgb(130, 216, 130);">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <div class="text-center" style="color: white;">
                                    <h3>UPLOAD FILE</h3>
                                </div>
                            </div>
                            <div class="modal-body">
                                <div style="border-radius: 10%">
                                    <input type="file" th:name="fileUpload"
                                           class="form-control">
                                    <br>
                                    <button type="submit" class="form-control btn btn-primary">Tải lên</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- End Modal Import area -->

    </div>
</div>

<div th:replace="/common/header :: script"></div>

</body>
</html>