<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Admin | Sinh viên</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <!--    <link th:rel="shortcut icon" type="image/x-icon" th:href="@{/asset/img/favicon.ico}">-->
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Bootstrap CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <!-- owl.carousel CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/owl.carousel.css}">
    <link th:rel="stylesheet" th:href="@{/css/owl.theme.css}">
    <link th:rel="stylesheet" th:href="@{/css/owl.transitions.css}">
    <!-- animate CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/animate.css}">
    <!-- normalize CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/normalize.css}">
    <!-- meanmenu icon CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/meanmenu.min.css}">
    <!-- main CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/main.css}">
    <!-- educate icon CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/educate-custon-icon.css}">
    <!-- morrisjs CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/morrisjs/morris.css}">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/scrollbar/jquery.mCustomScrollbar.min.css}">
    <!-- metisMenu CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/metisMenu/metisMenu.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/metisMenu/metisMenu-vertical.css}">
    <!-- calendar CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/calendar/fullcalendar.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/calendar/fullcalendar.print.min.css}">
    <!-- x-editor CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/editor/select2.css}">
    <link th:rel="stylesheet" th:href="@{/css/editor/datetimepicker.css}">
    <link th:rel="stylesheet" th:href="@{/css/editor/bootstrap-editable.css}">
    <link th:rel="stylesheet" th:href="@{/css/editor/x-editor-style.css}">
    <!-- normalize CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/data-table/bootstrap-table.css}">
    <link th:rel="stylesheet" th:href="@{/css/data-table/bootstrap-editable.css}">
    <!-- style CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/style.css}">
    <!-- modal CSS
        ============================================ -->
    <link th:rel="stylesheet" th:href="@{/modal.css}">
    <!-- responsive CSS
		============================================ -->
    <link th:rel="stylesheet" th:href="@{/css/responsive.css}">
    <!-- modernizr JS
		============================================ -->
    <script th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/modalevent.js}" src="../static/js/modalevent.js"></script>
</head>

<body>

<!-- Start Left menu area -->
<div th:replace="/common/leftmenu :: left_menu"></div>
<!-- End Left menu area -->

<div class="all-content-wrapper">
    <div class="header-advance-area">

        <!-- Start Welcome area -->
        <div th:replace="/common/header :: header"></div>
        <!-- End Welcome area -->

        <!-- Start Search-->
        <br>
        <div class="breadcome-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcome-list">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="breadcome-heading">
                                        <form th:action="@{/search/sv}" method="get" role="search"
                                              class="sr-input-func">
                                            <input type="text" name="keyword" th:value="${keyword}"
                                                   placeholder="Tìm kiếm..."
                                                   class="search-int form-control">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Search-->

        <!-- Static Table Start -->
        <div class="data-table-area mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <form th:action="@{/sinhVien/deleteSinhViens}" method="get">
                            <div class="sparkline13-list">
                                <div class="sparkline13-hd">
                                    <div class="main-sparkline13-hd">
                                        <h1></h1>
                                        <a class="btn btn-info createBtn">Thêm sinh viên</a>
                                        <button type="submit" class="btn btn-danger btn-custon-rounded-four">
                                            <span>Xóa</span>
                                        </button>
                                        <li class="alert alert-success fa fa-check" style="text-align: center" role="alert" th:text="${success}" th:if="${success}"></li>
                                        <li class="alert alert-danger fa fa-exclamation-circle" style="text-align: center" role="alert" th:text="${error}" th:if="${error}"></li>
                                    </div>
                                </div>

                                <div class="sparkline13-graph">
                                    <div class="datatable-dashv1-list custom-datatable-overright">
                                        <table id="table" data-toggle="table"
                                               data-key-events="true" data-resizable="true" data-cookie="true"
                                               data-cookie-id-table="saveId" data-show-export="true"
                                               data-click-to-select="true" data-toolbar="#toolbar" class="tbl">
                                            <thead>

                                            <tr>
                                                <th>
                                                    <div align="center">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                </th>
                                                <th>STT</th>
                                                <th>Mã sinh viên</th>
                                                <th>Tên sinh viên</th>
                                                <th>Bậc đào tạo</th>
                                                <th>Địa chỉ</th>
                                                <th>Giới tính</th>
                                                <th>Email</th>
                                                <th>Ngày sinh</th>
                                                <th>Ngày vào trường</th>
                                                <th>Số CMND</th>
                                                <th>Số điện thoại</th>
                                                <th>Khoa</th>
                                                <th>Lớp</th>
                                                <th>Chuyên ngành</th>
                                                <th>Thao tác</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="sv, stt: ${sinhViens}">
                                                <td><input type="checkbox" class="checkbox" th:name="idSV"
                                                           th:value="${sv.getMaSV()}"></td>
                                                <td th:text="${stt.index + 1}"></td>
                                                <td th:text="${sv.getMaSV()}"></td>
                                                <td th:text="${sv.getTenSV()}"></td>
                                                <td th:text="${sv.getBacDaoTao()}"></td>
                                                <td th:text="${sv.getDiaChi()}"></td>
                                                <td th:text="${sv.isGioiTinh() == true ? 'Nam' : 'Nữ'}"></td>
                                                <td th:text="${sv.getEmail()}"></td>
                                                <td th:text="${#dates.format(sv.getNgaySinh(), 'dd/MM/yyyy')}"></td>
                                                <td th:text="${#dates.format(sv.getNgayVaoTruong(), 'dd/MM/yyyy')}"></td>
                                                <td th:text="${sv.getSoCMND()}"></td>
                                                <td th:text="${sv.getSoDienThoai()}"></td>

                                                <td th:if="${sv.getKhoa() != null}"
                                                    th:text="${sv.getKhoa().getTenKhoa()}"></td>
                                                <td th:if="${sv.getLopHoc() != null}"
                                                    th:text="${sv.getLopHoc().getTenLop()}"></td>
                                                <td th:if="${sv.getChuyenNganh() != null}"
                                                    th:text="${sv.getChuyenNganh().getTenChuyenNganh()}"></td>

                                                <td th:if="${sv.getKhoa() == null}"></td>
                                                <td th:if="${sv.getLopHoc() == null}"></td>
                                                <td th:if="${sv.getChuyenNganh() == null}"></td>
                                                <td>
                                                    <a class="uBtn btn btn-warning"
                                                       th:href="@{/sinhVien/findSV(id=${sv.maSV})}">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="pull-right pagination">
                                            <ul class="pagination">
                                                <li class="page-pre">
                                                    <a th:href="@{/sinhVien(pageIndex=${currentPage - 1})}">‹</a>
                                                </li>
                                                <li class="page-number"
                                                    th:each="i : ${#numbers.sequence(0, totalPage - 1)}"
                                                    th:classappend="${currentPage}==${i}?'active':''">
                                                    <a th:href="@{/sinhVien(pageIndex=${i})}" th:text="${i + 1}"></a>
                                                </li>
                                                <li class="page-next">
                                                    <a th:href="@{/sinhVien(pageIndex=${currentPage + 1})}">›</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="myForm">
            <form th:action="@{/sinhVien}" method="post" th:object="${sinhVien}">
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: rgb(130, 216, 130);">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <div class="text-center" style="color: white;">
                                    <h3>THÔNG TIN SINH VIÊN</h3>
                                </div>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" id="myId" value="" th:field="*{maSV}">
                                <input type="hidden" id="myPass" value="" th:field="*{password}">
                                <input type="hidden" id="myRole" value="" th:field="*{roleName}">
                                <div class="col-sm-12" style="padding-top: 20px;">
                                    <div class="form-group col-sm-6">
                                        <label>Tên sinh viên</label>
                                        <div>
                                            <input type="text" id="tensv" value="" th:field="*{tenSV}"
                                                   class="form-control" placeholder="Ví dụ: Nguyễn Văn A">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Số CMND</label>
                                        <div>
                                            <input type="text" id="cmnd" value="" th:field="*{soCMND}"
                                                   class="form-control" placeholder="Ví dụ: 123456789 (hoặc căn cước)">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group col-sm-3">
                                        <label>Giới tính</label>
                                        <div style="margin-top: 10px;">
                                            <input type="radio" id="male" value="" name="rad" th:field="*{gioiTinh}"
                                                   th:value="true">&nbsp;Nam
                                            &nbsp;&nbsp;
                                            <input type="radio" id="female" value="" name="rad" th:field="*{gioiTinh}"
                                                   th:value="false">&nbsp;Nữ
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label>Bậc đào tạo</label>
                                        <div>
                                            <!--                                            <input type="text" id="bdt" value="" th:field="*{bacDaoTao}"-->
                                            <!--                                                   placeholder="Cao Đẳng, Đại Học, ..."-->
                                            <!--                                                   class="form-control">-->
                                            <select value="" id="bdt" th:field="*{bacDaoTao}" class="form-control">
                                                <option value="">Chọn bậc đào tạo</option>
                                                <option value="Đại học">Đại học</option>
                                                <option value="Cao đẳng">Cao đẳng</option>
                                                <option value="Trung cấp">Trung cấp</option>
                                                <option value="Thạc sĩ">Thạc sĩ</option>
                                                <option value="Tiến sĩ">Tiến sĩ</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label>Ngày vào trường</label>
                                        <div>
                                            <input type="date" id="nvt" value="" th:field="*{{ngayVaoTruong}}"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label>Ngày sinh</label>
                                        <div>
                                            <input type="date" id="birthDate" value="" th:field="*{{ngaySinh}}"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group col-sm-6">
                                        <label>Số điện thoại</label>
                                        <div><input type="text" id="phone" value="" th:field="*{soDienThoai}"
                                                    class="form-control" placeholder="Ví dụ: XXXX XXX XXX">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Chuyên ngành</label>
                                        <div>
                                            <select value="" id="chuyenN" th:field="*{chuyenNganh.maChuyenNganh}"
                                                    class="form-control">
                                                <option value="0">Chọn chuyên ngành</option>
                                                <option th:each="cn, stt: ${chuyenNganhs}"
                                                        th:value="${cn.getMaChuyenNganh()}"
                                                        th:text="${cn.getTenChuyenNganh()}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group col-sm-6">
                                        <label>Lớp</label>
                                        <div>
                                            <select id="classRoom" value="" th:field="*{lopHoc.maLop}"
                                                    class="form-control">
                                                <option value="0">Chọn lớp học</option>
                                                <option th:each="lh, stt: ${lopHocs}"
                                                        th:value="${lh.getMaLop()}"
                                                        th:text="${lh.getTenLop()}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Khoa</label>
                                        <div>
                                            <select id="myKhoa" value="" th:field="*{khoa.maKhoa}"
                                                    class="form-control">
                                                <option value="0">Chọn khoa</option>
                                                <option th:each="k, stt: ${khoas}"
                                                        th:value="${k.getMaKhoa()}"
                                                        th:text="${k.getTenKhoa()}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group col-sm-6">
                                        <label>Email</label>
                                        <div>
                                            <input id="myEmail" type="text" value="" th:field="*{email}"
                                                   class="form-control" placeholder="Ví dụ: abc@gmail.com">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Địa chỉ</label>
                                        <div>
                                            <input id="address" type="text" value="" th:field="*{diaChi}"
                                                   class="form-control"
                                                   placeholder="Ví dụ: 123/45 tên đường, quận, phường, tỉnh ">
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" value="Lưu thông tin" class="btn btn-success"
                                       style="margin-left: 30px;">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- jquery
============================================ -->
<script th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>
<!-- bootstrap JS
============================================ -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- wow JS
============================================ -->
<script th:src="@{/js/wow.min.js}"></script>
<!-- price-slider JS
============================================ -->
<script th:src="@{/js/jquery-price-slider.js}"></script>
<!-- meanmenu JS
============================================ -->
<script th:src="@{/js/jquery.meanmenu.js}"></script>
<!-- owl.carousel JS
============================================ -->
<script th:src="@{/js/owl.carousel.min.js}"></script>
<!-- sticky JS
============================================ -->
<script th:src="@{/js/jquery.sticky.js}"></script>
<!-- scrollUp JS
============================================ -->
<script th:src="@{/js/jquery.scrollUp.min.js}"></script>
<!-- mCustomScrollbar JS
============================================ -->
<script th:src="@{/js/scrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>
<script th:src="@{/js/scrollbar/mCustomScrollbar-active.js}"></script>
<!-- metisMenu JS
============================================ -->
<script th:src="@{/js/metisMenu/metisMenu.min.js}"></script>
<script th:src="@{/js/metisMenu/metisMenu-active.js}"></script>
<!-- data table JS
============================================ -->
<script th:src="@{/js/data-table/bootstrap-table.js}"></script>
<script th:src="@{/js/data-table/tableExport.js}"></script>
<script th:src="@{/js/data-table/data-table-active.js}"></script>
<script th:src="@{/js/data-table/bootstrap-table-editable.js}"></script>
<script th:src="@{/js/data-table/bootstrap-editable.js}"></script>
<script th:src="@{/js/data-table/bootstrap-table-resizable.js}"></script>
<script th:src="@{/js/data-table/colResizable-1.5.source.js}"></script>
<script th:src="@{/js/data-table/bootstrap-table-export.js}"></script>
<!--  editable JS
============================================ -->
<script th:src="@{/js/editable/jquery.mockjax.js}"></script>
<script th:src="@{/js/editable/mock-active.js}"></script>
<script th:src="@{/js/editable/select2.js}"></script>
<script th:src="@{/js/editable/moment.min.js}"></script>
<script th:src="@{/js/editable/bootstrap-datetimepicker.js}"></script>
<script th:src="@{/js/editable/bootstrap-editable.js}"></script>
<script th:src="@{/js/editable/xediable-active.js}"></script>
<!-- tab JS
============================================ -->
<script th:src="@{/js/tab.js}"></script>
<!-- plugins JS
============================================ -->
<script th:src="@{/js/plugins.js}"></script>
<!-- main JS
============================================ -->
<script th:src="@{/js/main.js}"></script>
</body>
</html>